appdirs==1.4.3
chardet==2.3.0
click==7.1.1
distlib==0.3.0
filelock==3.0.12
Flask==1.1.2
importlib-metadata==1.6.0
importlib-resources==1.4.0
itsdangerous==1.1.0
Jinja2==2.11.1
lxml==3.7.1
MarkupSafe==1.1.1
pexpect==4.2.1
ptyprocess==0.5.1
pycurl==7.43.0
pygobject==3.22.0
python-apt==1.4.0b3
python-debian==0.1.30
rpl==1.5.6
six==1.10.0
unattended-upgrades==0.1
vboxapi==1.0
virtualenv==20.0.17
Werkzeug==1.0.1
zipp==1.2.0
