 
 <!-- LISTA DESPLEGABLE SERVICIOS -->
 <ul id="menuServicios" class="dropdown-content">
    <li><a href="#!">Tienda</a></li>
    <li class="divider"></li>
    <li><a href="#!">Cotizaciones</a></li>
    <li><a href="#!">Contacto</a></li>
  </ul>

  <nav>
    <div class="nav-wrapper blue lighten-2">
      <a href="#!" class="brand-logo ">Dental Real</a>
      <a href="#" data-activates="mobile-menu" class="button-collapse"><i class="material-icons">Menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#modalConfiguracion" class="modal-trigger">Configuracion</a></li>
        <li class="divider"></li>
        <!-- Dropdown Trigger -->
        <li><a class="dropdown-button" href="#!" data-activates="menuServicios">Servicios Usuario<i
              class="material-icons right">arrow_drop_down</i></a></li>
      </ul>
      <ul class="side-nav" id="mobile-menu">
        <li>
          <div class="userView">
            <div class="background">
              <img src="http://lorempixel.com/output/abstract-q-c-640-480-10.jpg" alt="Background Sidenav">
            </div>
            <a href="#!user"><img class="circle" src=" "
                alt="Imagen Perfil Usuario"></a>
            <a href="#!name"><span class="white-text name">John Doe</span></a>
            <a href="#!email"><span class="white-text email">jdandturk@gmail.com</span></a>
          </div>
        </li>
        <li><a href="#" class="btn modal-trigger">item1</a></li>
        <li><a href="#">item2</a></li>
        <li><a href="#">item3</a></li>
        <li><a href="#">item4</a></li>
      </ul>
    </div>
    </div>
  </nav>
